<form class="form-inline">
    <div class="form-group">
        <select class="form-control dropdown" name="month" id="month" ng-model="currentMonth" ng-change="reset()" ng-init="currentMonth=initMonth">
            <option value="0">January</option>
            <option value="1">February</option>
            <option value="2">March</option>
            <option value="3">April</option>
            <option value="4">May</option>
            <option value="5">June</option>
            <option value="6">July</option>
            <option value="7">August</option>
            <option value="8">September</option>
            <option value="9">October</option>
            <option value="10">November</option>
            <option value="11">December</option>
        </select>
    </div>
    <div class="form-group">
        <select class="form-control dropdown" name="year" id="year" ng-model="currentYear" ng-change="reset()" ng-init="currentYear=initYear">
            <option value="2012">2012</option>
            <option value="2013">2013</option>
            <option value="2014">2014</option>
            <option value="2015">2015</option>
            <option value="2016" selected>2016</option>
        </select>
    </div>
</form>
<ul class="weekdays">
<!--<ul class="list-group">    -->
  <li class="list-group-item">Su</li>
  <li class="list-group-item">Mo</li>
  <li class="list-group-item">Tu</li>
  <li class="list-group-item">We</li>
  <li class="list-group-item">Th</li>
  <li class="list-group-item">Fr</li>
  <li class="list-group-item">Sa</li>
</ul>

<ul class="days">
    <li class="day {{ day.monthClass }}" ng-click="toSearch(day)" ng-repeat="day in dates.days">{{day.day}}</li>    
</ul> 