<calendar-heading>
    
</calendar-heading>
<div class='search'>
    <h1>On {{month}}/{{day}}/{{year}} </h1>
    <p>Find news about</p>
    
    <div class="search">
            <form name="myForm" ng-submit="news()">
                <input id="query" type="text" ng-model="query" name="query"/><input id="submit" type="submit" name="submit" value="+"/>
            </form>
            <div class='count' ng-if="results && (term == query)">
                <p>Got {{results}} for {{query}}</p>
            </div>
    </div>
</div>
<div class="results">
    <div class="guardian-results">
        <h1>Guardian</h1>
        <ul ng-if="(term == query)">
            <li ng-repeat="result in guardianResults">
                <a ng-click="guardianArticle(result)">{{result.webTitle}}</a>
            </li>
        </ul>
    </div>
    <div class="nytimes-results">
        <h1>NY Times</h1><img src="app/images/poweredby_nytimes_30b.png">
        <ul ng-if="(term == query)">
            <li ng-repeat="result in nytimesResults">
                <a ng-click="nytimesArticle(result)">{{result.headline.main}}</a>
            </li>
        </ul>
    </div>
    <div class="clear-both"></div>
</div>